body {
    background: #353434;
    margin: 0 auto;

}

.container {
    /* border: 1px solid red; */

    height: 100vh;
    width: 100vw;
}
svg {
    height: 100%;
    width: 100%;
} 

#guy {
    transform: translateX(10%);
}
