body {
    background: #353434;
    margin: 0 auto;
}

.container {
    height: 100vh;
    width: 100vw;
    /* max-width: 1200px; */

}

svg {
    height: 100%;
    width: 100%;
} 

#guy {
    transform: translateX(20%);
}

#card {
    display: none;
    max-width: 50%;
    max-height: 800px;
    padding: .5em 2em;
    /* width: 30%; */
    /* height: 50%; */
    background: #DAE0EB;
    position: absolute;
    /* right: 10%;
    top: 50%; */
    /* transform: translateY(-50%); */
    border-radius: 5px;
    color: #333333;

}
#title, #price{
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

