body {
    background: #353434;
    margin: 0 auto;
}

.container {
    height: 100vh;
    width: 100vw;
}

svg {
    height: 100%;
    width: 100%;
} 

#guy {
    transform: translateX(20%);
}

#card {
    display: none;
    max-width: 50%;
    max-height: 800px;
    padding: .5em 2em;
    background: #DAE0EB;
    position: absolute;
    border-radius: 5px;
    color: #333333;

}
#title, #price{
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

/* Button */
#replay {
    display: none;
    border-radius: 5px;
    background: #DAE0EB;
    width: 200px;
    height: 50px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    position: absolute;
    right: 15%;
    top: 5%;
    border: none;
    cursor: pointer;
}

/* Some preset for images to start out */
#scene-1,
#scene-2,
#scene-3,
#scene-4
{
    opacity: 0;
}

#box-open,
#wyze-outdoor-cam,
#base,
#wyze-logo,
#guy3,
#door-open3,
#package-table,
#Unlocked,
#Rectangle-354,
#guy-back,
#guy-back3,
#resume-name,
#loader,
#complete,
#analyzing-resume,
#Success,
#adam-mathieson,
#email,
#phone,
#msg,
#cam-feed

{
    display: none;
}


